{% extends "layouts/" ~ version ~ ".html" %}

{% block beforeContent %}
  {% set showBackLink = true %}
  {% set showAccountLink = true %}
  {% set serviceName = "Dashboard" %}
  {% include version ~ "/_includes/before-content.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
    <span class="govuk-caption-l">Initial classified run R16</span>
    <h1 class="govuk-heading-l">Confirm billing instructions</h1>
    <p class="govuk-body-m">
      These billing instructions match those in the results file. Use this screen to confirm which instructions you want to accept or reject.
    </p>
    <p class="govuk-body-m">
      Your changes are saved automatically, so you can return to this screen at any time. Once all instructions have been accepted or rejected, you'll be able to generate a draft billing file. If you reject any instructions, you'll need to give a reason on the next screen.
    </p>

    {% include version ~ "/_includes/billing-instruction-filter.njk" %}
    {% import "../_components/_billing-row.njk" as billing %}

    <!-- POST form for Accept selected -->
    <form method="post" action="/{{ version }}/billing/accept-start">
    <input type="hidden" name="action" id="bulk-action-type" value="Accepted">

      <!-- Selection checkboxes -->
      <fieldset class="govuk-fieldset billing-filters-select govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <div class="govuk-checkboxes govuk-checkboxes--small horizontal-checkboxes">

          <!-- Select all on this page -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                  id="status-selectall"
                  type="checkbox"
                  data-action="select-page">
            <label class="govuk-label govuk-checkboxes__label"
                  for="status-selectall">
              Select all records on this page
            </label>
          </div>

          <!-- Select all matching results -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                  id="status-selectallresults"
                  type="checkbox"
                  data-action="select-all-results">
            <label class="govuk-label govuk-checkboxes__label"
                  for="status-selectallresults">
              Select all {{ totalFiltered }} records
            </label>
          </div>

        </div>
      </fieldset>

  <!-- Billing table -->
      <h2 class="govuk-heading-m">Billing instructions</h2>
      <table class="govuk-table govuk-table--m billing-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header billing-table__header header-select"> </th>
            <th scope="col" class="govuk-table__header billing-table__header--organisation">Organisation name</th>
            <th scope="col" class="govuk-table__header billing-table__header--org-id">Organisation ID</th>
            <th scope="col" class="govuk-table__header billing-table__header--instruction">Billing instruction</th>
            <th scope="col" class="govuk-table__header billing-table__header--amount">Invoice Amount</th>
            <th scope="col" class="govuk-table__header billing-table__header--status">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for row in billingData %}
            {{ billing.billingRow(row) }}
          {% endfor %}
        </tbody>
      </table>

      <!-- Action buttons -->
      <div style="margin-top: 60px;">
        <h2 class="govuk-heading-m">Update billing instructions</h2>
          <button type="submit" class="govuk-button govuk-button--primary">
          Accept selected
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary"
                style="background-color: #ffffff; border: 1px solid #d4351c; color: #d4351c; margin-left:30px; box-shadow: 0 2px 0 rgb(212, 53, 28);"
                onclick="document.getElementById('bulk-action-type').value='reject'">
          Reject selected
        </button>

        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-left: 30px;" id="clear-selection-btn">
          Clear selection
        </button>

        <a style="float: right; padding-right:230px; padding-top: 10px; font-size: 18px;" href="../paycal-dashboard" class="govuk-link">Return to dashboard</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
