{% extends "layouts/" + version + ".html" %}

{% block beforeContent %}
  {% include version ~ "/_includes/before-content.njk" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set mainClasses = "govuk-main-wrapper--l" %}

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              You have deleted calculation run
              {% if data.calcRun == "unclassified" %}Unclassified run R16
              {% elif data.calcRun == "initialRun" %}Initial classified run R16
              {% elif data.calcRun == "testRun" %}Test classified run R16
              {% else %}Error incomplete run R16{% endif %}

            </h1>
            <div class="govuk-panel__body">
              {% if data.runName !=="" %}
               {{ data.runName }}
              {% else %}
                Current test R16
              {% endif %}
            </div>
          </div>

         <div class="govuk-button-group">
           
          <a class="govuk-link" href="../paycal-dashboard">Return to the dashboard</a>
        </div>

          <p class="govuk-body">
          
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}