{% extends "layouts/" + version + ".html" %}

{% block beforeContent %}
  {% set showBackLink = false %}
  {% set showAccountLink = true %}
  {% include version ~ "/includes/before-content.njk" %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Calculate packaging payments</h1>
    <div class="govuk-hint govuk-!-margin-bottom-6">
      Set up and run packaging payment calculations, and view past runs by financial year.
    </div>
    {# Admin management tiles #}
    {% include version ~ "/includes/admin-tiles.njk" %}
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-0">Calculation runs</h2>
      <p class="govuk-body-s">View and select a calculation run. You can also filter by financial year to find
        previous runs.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group" style="float: right;">
        <label class="govuk-label govuk-!-margin-top-6">
          Select a financial year
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected="">2024-25</option>
          <option value="updated">2023-24</option>
          <option value="updated">2022-23</option>
          <option value="updated">2021-22</option>
        </select>
      </div>
    </div>
  </div>
  {% from "components/_calculation-row.njk" import calculationRow %}

    <table class="govuk-table govuk-table--m ">
      <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>

      <tbody class="govuk-table__body">

        {{ calculationRow({
          title: "Current test R16",
          href: "",
          calculationId: "251121",
          runDate: "21 Nov 2025 at 17:00",
          runBy: "Jamie Roberts",
          tagColour: "green",
          tagText: "Running"
        }) }}

        {{ calculationRow({
          title: "Unclassified run R16",
          href: "./run-details/run-details?calcRun=unclassified",
          calculationId: "251120",
          runDate: "20 Nov 2025 at 16:17",
          runBy: "Jamie Roberts"
        }) }}

        {{ calculationRow({
          title: "Initial classified run R16",
          href: "./run-details/run-details?calcRun=initialRun",
          calculationId: "251120",
          runDate: "20 Nov 2025 at 16:17",
          runBy: "Jamie Roberts",
          tagColour: "purple",
          tagText: "Initial run classified"
        }) }}

         {{ calculationRow({
          title: "Error incomplete run R16",
          href: "./run-details/run-error",
          calculationId: "251120",
          runDate: "20 Nov 2025 at 16:17",
          runBy: "Jamie Roberts",
          tagColour: "red",
          tagText: "Error"
        }) }}

        {{ calculationRow({
          title: "Test classified run R16",
          href: "./run-details/run-details?calcRun=testRun",
          calculationId: "251115",
          runDate: "15 Nov 2025 at 12:17",
          runBy: "Jamie Roberts",
          tagColour: "yellow",
          tagText: "Test run"
        }) }}

        

      </tbody>
    </table>


{% endblock %}