.govuk-main-wrapper {
  padding-top:0px;
}

/* -----------------------------------------------------------
   Account info in banner
   ----------------------------------------------------------- */
.account-info {
  text-align:right;
}

/* -----------------------------------------------------------
   Dashboard page (Paycal)
   ----------------------------------------------------------- */


    .dashboard-page {
    .tile-group {
        .tile {
            color: white;
            min-height: 82px;
            position: relative;
            margin-bottom: 26px;

            .more-info {
                color: white;
                font-size: 16px;
            }
        }

        a {
            display: block;
            background-color: #1d70b8;
            text-decoration: none;
            padding: 11px;

            .heading {
                color: white;
                margin-bottom: 10px;
                min-height: 38px;
            }

            .heading:hover {
                color: #d9e7f3;
            }
        }
    }

    .header-container {
        display: flex;
        margin: 0;
    }

    .caption-text {
        float: left;
        width: 68%;
    }

    .filter-container {
        display: flex;
        justify-content: end;
        float: right;
        padding: 0;
    }

    .govuk-summary-list {
        border-top: 1px solid #b1b4b6;

        .govuk-summary-list__actions {
            vertical-align: middle;
            text-align: center;
        }
    }

    .govuk-tag {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .govuk-tag--grey {
        color: #383f43;
        background: #eeefef;
    }

    .govuk-tag--blue {
        color: #144e81;
        background: #d2e2f1;
    }
}
/* -----------------------------------------------------------
   Filter component  - Billing instructions
   ----------------------------------------------------------- */

.filter {
  margin: 30px 0;

  &__content {
    padding: 0px 20px 10px 20px;
    background: #f3f2f1;
    border: 1px solid #b1b4b6;
    border-radius: 5px;
  }

  /* Search block */
  &__search {
    margin-bottom: 0px;
    
   .filter__search-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* space between input and button */
   }

    .filter__search-input {
      flex: 1 1;   /* input takes all remaining space */
      min-width: 200px; /* prevents collapsing too much */
    }

    button {
      flex: 0 0 auto;   /* button keeps its natural width */
      align-self: flex-start;
    }
    a.filter-link {
    font-weight: bold;
    font-size:1.185em;
    }

    a.billing-filter-button{
      background-color:black;
      margin-bottom:0;
    }
  }

  /* List of filter options */
  &__list {
    margin-top: 10px;
    margin-bottom: 40px;

    li {
      margin-bottom: 8px;
    }

    .filter-link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.horizontal-checkboxes {
  display: flex;
  flex-wrap: wrap;        /* allow wrapping on small screens */
  gap: 2rem;              /* spacing between checkboxes */
}

.horizontal-checkboxes .govuk-checkboxes__item {
  display: flex;           /* make label and input inline */
  align-items: center;
  white-space: nowrap;     /* prevent text wrapping */
}



.billing-table {

  .checkbox-select-record{
    vertical-align: middle;
    padding-right: 0;
  }

  /* hacky - to make this look like baseline - remove in next version and make standard for accessibility */

  .govuk-checkboxes__input{
    opacity: 1;
    width:34px;
    height:34px;
    padding-top:5px;
}
  .govuk-checkboxes__label:before {
    top: -1px;
    left: -1px;
    width: 32px;
    height: 32px;
  }

  .govuk-checkboxes__input:disabled {
    background-color: red;
  }

 .govuk-checkboxes__input:disabled + .govuk-checkboxes__label:before {
    opacity:0;
    cursor:not-allowed;
    width: 100%;
    height: 100%;
  }


  .billing-table__header--organisation {
    width:230px;
  }

  .billing-table__header--org-id {
    width:140px;
  }

}

button.govuk-button--outline {
  margin-top: 20px;
  color:#00703c;
  background-color:#ffffff;
  box-shadow: 0 2px 0;
  margin-bottom: 0;
  border:1px solid;

}

.govuk-button--warning.govuk-button--outline {
    color:#d4351c
  }





