{% extends "layouts/" + version + ".html" %}

{% block beforeContent %}
  {% include version ~ "/includes/before-content.njk" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set mainClasses = "govuk-main-wrapper--l" %}

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              You have successfully updated
            </h1>
            <div class="govuk-panel__body">
              {% if data.intent == "manageLaDisposalCosts" %}
               The local authority disposal costs
              {% elseif data.intent == "manageDefaultParameters" %}
               The default parameters
              {% endif %}
            </div>
          </div>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
          {% if data.intent == "manageDefaultParameters" %}
            All calculations will automatically use the new parameters, unless they are manually changed.
            {% elseif data.intent == "manageLaDisposalCosts" %}
            All calculations will automatically use the latest local authority disposal costs.
          {% endif %}
          </p>
          

         <div class="govuk-button-group">
          {% if data.intent == "manageDefaultParameters" %}
            <a href="manage-default-parameters?defaultParams=true" class="govuk-button">
              View new default parameters
            </a>
          {% elseif data.intent == "manageLaDisposalCosts" %}
            <a href="manage-la-disposal-costs?laCosts=true" class="govuk-button">
              View local authority disposal costs
            </a>
          {% endif %}

          <a class="govuk-link" href="../paycal-dashboard">Return to the dashboard</a>
        </div>

          <p class="govuk-body">
          
          
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}