{% extends "layouts/" + version + ".html" %}

{% block beforeContent %}
  {% set showBackLink = true %}
  {% set showAccountLink = true %}
  {% include version ~ "/_includes/before-content.njk" %}
{% endblock %}

<!-- Default parameters (User has successfully uploaded parameters-->

{% block content %}

 {% if data.laCosts == "true" %}
 <span class="govuk-caption-l govuk-!-margin-bottom-3">Last updated by Jamie Roberts at <strong>10:01</strong> on 28 June 2025</span>
  <h1 class="govuk-heading-xl">Local Authority disposal costs</h1>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 {% set costData = [
  {
    country: "England",
    costs: [
      { material: "Aluminium", amount: "£5000.00" },
      { material: "Fibre composite", amount: "£7500.00" },
      { material: "Glass", amount: "£45000.00" },
      { material: "Paper or card", amount: "£12500.00" },
      { material: "Plastic", amount: "£23000.00" },
      { material: "Steel", amount: "£13400.00" },
      { material: "Wood", amount: "£0" },
      { material: "Other materials", amount: "£3400.00" }
    ]
  },
  {
    country: "Northern Ireland",
    costs: [
      { material: "Aluminium", amount: "£1250.00" },
      { material: "Fibre composite", amount: "£1750.00" },
      { material: "Glass", amount: "£4500.00" },
      { material: "Paper or card", amount: "£3400.00" },
      { material: "Plastic", amount: "£2100.00" },
      { material: "Steel", amount: "£0" },
      { material: "Wood", amount: "£5600.00" },
      { material: "Other materials", amount: "£700.00" }
    ]
  },
  {
    country: "Scotland",
    costs: [
      { material: "Aluminium", amount: "£2000.00" },
      { material: "Fibre composite", amount: "£3400.00" },
      { material: "Glass", amount: "£20700.00" },
      { material: "Paper or card", amount: "£4500.00" },
      { material: "Plastic", amount: "£6700.00" },
      { material: "Steel", amount: "£7800.00" },
      { material: "Wood", amount: "£0" },
      { material: "Other materials", amount: "£4200.00" }
    ]
  },
  {
    country: "Wales",
    costs: [
      { material: "Aluminium", amount: "£1750.00" },
      { material: "Fibre composite", amount: "£2100.00" },
      { material: "Glass", amount: "£0" },
      { material: "Paper or card", amount: "£2300.00" },
      { material: "Plastic", amount: "£4500.00" },
      { material: "Steel", amount: "£0" },
      { material: "Wood", amount: "£12000.00" },
      { material: "Other materials", amount: "£2100.00" }
    ]
  }
] %}

{% for region in costData %}
  <h2 class="govuk-heading-l">{{ region.country }}</h2>
  
  <table class="govuk-table govuk-!-margin-bottom-9">
    <tbody class="govuk-table__body">
      {% for item in region.costs %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ item.material }}</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ item.amount }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
    
{% else %}

<!-- When a user hasn't uploaded Local authority disposal costs yet -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Local authority disposal costs</h1>
    <span class="govuk-caption-xl">Local authority disposal cost data has not been updated yet.</span><br>
    <hr>
    <p class="govuk-body">You will need to download the most recent local authority disposal cost file and upload it here before you can run any calculations. </p>
    </div>
  </div>
{% endif%}
<!-- Upload new local authority disposal costs -->

  <div class="govuk-grid-row">
        <div class="govuk-button-group govuk-!-margin-top-6">
          <a href="upload-file?intent=manageLaDisposalCosts" class="govuk-button">
            {% if data.laCosts == "true" %}
              Upload disposal costs
            {% else %}
              Upload local authority disposal costs
            {% endif %}
          </a>
          <a class="govuk-link" href="../paycal-dashboard">
            Return to the dashboard
          </a>
        </div>
    </div>

{% endblock %}