{% macro calculationRow(params) %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      {% if params.href %}
        <a href="{{ params.href }}" class="govuk-link govuk-link--no-visited-state">
          {{ params.title }}
        </a>
      {% else %}
        {{ params.title }}
      {% endif %}
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-4">
      Calculation ID: {{ params.calculationId }}<br>
      Run date and time: {{ params.runDate }}<br>
      Run by: {{ params.runBy }}
    </p>
  </dt>

  <dd class="govuk-summary-list__actions">
    {% if params.tagText %}
      <strong class="govuk-tag govuk-tag--{{ params.tagColour | default('blue') }}">
        {{ params.tagText }}
      </strong>
    {% endif %}
  </dd>
</div>
{% endmacro %}

