{# Admin tiles - custom component that appears on dashboard #}

{# GRID #}

<div class="govuk-grid-row tile-group">
    <div class="govuk-grid-column-one-third tile">
    <a class="min-height" href="../../{{version}}/costs/manage-default-parameters">
        <span class="govuk-heading-m heading">Manage default parameters</span>
        <span class="govuk-heading govuk-!-font-size-16">View or update the parameters</span>
    </a>
    </div>

    <div class="govuk-grid-column-one-third tile">
    <a class="min-height" href="../../{{version}}/costs/manage-la-disposal-costs">
        <span class="govuk-heading-m heading">Manage local authority disposal costs</span>
        <span class="govuk-heading govuk-!-font-size-16">View or update disposal costs</span>
    </a>
    </div>

    <div class="govuk-grid-column-one-third tile">
    <a class="min-height" href="../../{{version}}/run-calculator/run-start">
        <span class="govuk-heading-m heading">Run the calculator</span>
        <p></p>
        <span class="govuk-heading govuk-!-font-size-16">Use the default parameters to run the calculator</span>
    </a>
    </div>
</div>