<div class="billing-filters">
  <div class="filter__content">
    <form method="get" action="" class="filter__search govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="search">
        <h2>Search for an organisation</h2>
      </label>
      <div id="search-hint" class="govuk-hint">
        Enter an organisation ID to find a billing instruction.
      </div>
      <div class="govuk-row">
        <div class="govuk-column-full">
          <div class="filter__search-row">
            <input class="govuk-input filter__search-input" id="search" name="search" type="search" aria-describedby="search-hint">
            <button class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-2" data-module="govuk-button">Search</button>
          </div>
        </div>
      </div>
      <div class="filter">

      <!-- Billing instruction filter -->
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-0 govuk-!-margin-bottom-6">Filter by billing instruction</legend>
        <div class="govuk-grid-row govuk-!-padding-bottom-6">
          <div class="govuk-grid-column-one-quarter">
            <a href="#" class="govuk-link filter-link" data-filter-type="instruction" data-filter-value="">
              All ({{ totalRecords }})
            </a>
          </div>
          {% for instruction in ['No action', 'Initial', 'Delta'] %}
            <div class="govuk-grid-column-one-quarter">
              <a href="#" class="govuk-link filter-link" 
                data-filter-type="instruction" 
                data-filter-value="{{ instruction | lower }}">
                {{ instruction }} ({{ instructionCounts[instruction] or 0 }})
              </a>
            </div>
          {% endfor %}
          
          
        </div>
         <div class="govuk-grid-row govuk-!-padding-bottom-6">
          <div class="govuk-grid-column-one-quarter">
            &nbsp;
          </div>
          
          {% for instruction in ['Rebill', 'Cancel bill'] %}
            <div class="govuk-grid-column-one-quarter">
              <a href="#" class="govuk-link filter-link" 
                data-filter-type="instruction" 
                data-filter-value="{{ instruction | lower }}">
                {{ instruction }} ({{ instructionCounts[instruction] or 0 }})
              </a>
            </div>
          {% endfor %}
          
          
        </div>
      </fieldset>

      <!-- Status filter -->
      <fieldset class="govuk-fieldset govuk-!-margin-top-0">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-0 govuk-!-margin-bottom-6">Filter by status</legend>
        <div class="govuk-grid-row govuk-!-padding-bottom-6">
          <div class="govuk-grid-column-one-quarter">
            <a href="#" class="govuk-link filter-link" data-filter-type="instruction" data-filter-value="">
              All ({{ totalRecords }})
            </a>
          </div>
          {% for status in ['Accepted', 'Rejected', 'Pending'] %}
            <div class="govuk-grid-column-one-quarter">
              <a href="#" class="govuk-link filter-link" 
                data-filter-type="status" 
                data-filter-value="{{ status | lower }}">
                {{ status }} ({{ statusCounts[status] or 0 }})
              </a>
            </div>
          {% endfor %}
        </div>
      </fieldset>
      <a href="#" class="billing-filter-button govuk-button govuk-button--submit filter__clear govuk-!-margin-top-5" data-filter-type="instruction" data-filter-value="">
        Clear filters
      </a>
     
    </form>
  </div>
</div>

