{% extends "layouts/" + version + ".html" %}

{% block beforeContent %}
  {% set showBackLink = true %}
  {% set showAccountLink = true %}
  {% set serviceName = "Dashboard" %}
  {% include version ~ "/includes/before-content.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
    <span class="govuk-caption-l">Initial run R16</span>
    <h1 class="govuk-heading-l">Confirm billing instructions</h1>
    {% include version + "/includes/filter.njk" %}
        

{% endblock %}