<div class="filter">
  <div class="filter__content">

    <form method="get" action="" class="filter__search govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="search">
        <h2>Search for an organisation</h2>
      </label>
      <div id="search-hint" class="govuk-hint">
        Enter an organisation ID to find a billing instruction.
      </div>
      <div class="govuk-row">
        <div class="govuk-column-full">
          <div class="filter__search-row">
            <input class="govuk-input filter__search-input" id="search" name="search" type="search" aria-describedby="search-hint">
            <button class="govuk-button" data-module="govuk-button">Search</button>
          </div>
        </div>
      </div>
      <h2 class="govuk-heading-m">Filter by billing instruction</h2>
      <table class="govuk-table" id="submission-table">
        <thead class="govuk-table__head">
          <tr>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="instruction" data-filter-value="">All (36)</a>
            </td>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="instruction" data-filter-value="no action">No action (2)</a>
            </td>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="instruction" data-filter-value="initial">Initial (16)</a>
            </td>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="instruction" data-filter-value="delta">Delta (8)</a>
            </td>
          </tr>
        </thead>
        <tr>
          <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
          </td>
          <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
            <a href="#" class="filter-link" data-filter-type="instruction" data-filter-value="rebill">Rebill (7)</a>
          </td>
          <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
            <a href="#" class="filter-link" data-filter-type="instruction" data-filter-value="cancel">Cancel Bill (3)</a>
          </td>
          
        </tr>
      </table>
      <h2 class="govuk-heading-m">Filter by status</h2>
      <table class="govuk-table" id="filter-table">
        <thead class="govuk-table__head">
          <tr>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="status" data-filter-value="">All (36)</a>
            </td>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="status" data-filter-value="no action">Accepted (12)</a>
            </td>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="status" data-filter-value="initial">Rejected (1)</a>
            </td>
            <td class="govuk-table__cell" style="width: 60px; text-align: left; padding: 10px 20px 10px 0; vertical-align: top; border-bottom:0;">
              <a href="#" class="filter-link" data-filter-type="status" data-filter-value="delta">Pending (23)</a>
            </td>
          </tr>
        </thead>
      </table>
    </form>
    <button type="button" class="govuk-button filter__clear" style="background-color: black; margin-top:20px;" onclick="resetFilters()">Clear filters</button>
  </div>
</div>
