{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
      html: "Prototype",
      classes: 'govuk-tag--green' 
  },
  text: 'This is used to test new ideas and get feedback from users.'
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <h1 class="govuk-heading-xl">pEPR Scheme administrator service prototype</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="index__container">
        <h2 class="govuk-heading-m">
          <a href="{{ currentVersion.startPage }}" class="govuk-link">
            {{ currentVersion.name }}{% if currentVersion.date %} - {{ currentVersion.date }}{% endif %}
          </a>
        </h2>
        
        {% if currentVersion.description %}
          <p class="govuk-body-s">{{ currentVersion.description }}</p>
        {% endif %}

        {{ govukButton({
          text: "View prototype",
          href: currentVersion.startPage,
          isStartButton: false
        }) }}
        
        <h3 class="govuk-heading-s govuk-!-margin-top-4">Pages in this version:</h3>
        <ul class="govuk-list govuk-list--bullet">
        
        {# ------------------------- #}
        {# Root-level pages (skip _) #}
        {# ------------------------- #}
        {% for page in currentVersion.pages.root %}
          {% if not page.name.startsWith('_') %}
            <li><a href="{{ page.url }}" class="govuk-link">{{ page.name }}</a></li>
          {% endif %}
        {% endfor %}
        
        {# ------------------------- #}
        {# Section-level pages       #}
        {# Skip entire sections that start with _ #}
        {# Skip individual pages that start with _ #}
        {# ------------------------- #}
        {% for sectionName, sectionPages in currentVersion.pages.sections %}
          {% if not sectionName.startsWith('_') %}
            <li>
              {{ sectionName }}:
              <ul class="govuk-list govuk-list--bullet">
                {% for page in sectionPages %}
                  {% if not page.name.startsWith('_') %}
                    <li><a href="{{ page.url }}" class="govuk-link">{{ page.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
        
      </ul>
      </div>
      
      {% if hasPreviousVersions %}
        <div class="previous-versions-accordion">
          {{ govukAccordion({
            id: "previous-versions",
            hideAllSectionsText: false,
            items: accordionItems
          }) }}
        </div>
      {% endif %}
 
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Related prototypes</h2>
      
        <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://producer-responsibility-app-012da4a3b6d9.herokuapp.com/">Producers</li>
        <li><a class="govuk-link" href="https://regulator-responsibility-app-359d82a07820.herokuapp.com/">Regulators</a></li>
        <li><a class="govuk-link" href="https://admin-responsibility-prototype-2dad26118a14.herokuapp.com/">Scheme administrator</a></li>
        <li><a class="govuk-link" href="https://defra-cpr-prototype.herokuapp.com/">CPR prototype (all EPR)</a></li>
        
      
      </ul>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  // Hide the "Show all sections" controls on the accordion
  document.addEventListener('DOMContentLoaded', function() {
    var accordionControls = document.querySelector('.govuk-accordion__controls');
    if (accordionControls) {
      accordionControls.style.display = 'none';
    }
  });
</script>
{% endblock %}
