{% extends "layouts/main.html" %}
{% set bodyClasses = "baseline" %}

{% block beforeContent %}
    {% set showBackLink = true %}
    {% include version ~ "/_includes/before-content.njk" %}
{% endblock %}

{% block footer%}
  {% include version ~ "/_includes/footer.njk" %}
{% endblock %}